body {margin:0;text-align:center;}
a:link{color:#039;}
a:visited{color:#7D2F00;}
a:hover{color:#F60;}
hr{height:1px;}
dl{margin:0 4px 4px 22px;padding-top:4px;}
dd{margin-left:22px;}
ul{padding:0;margin:0 0 0 20px; list-style-image: url(/images/eng/style/css_images/ul.gif);}
ul ul{padding:0;list-style-image: url(/images/eng/style/css_images/ulul.gif);}
ul ul ul{padding:0;margin:0 0 0 18px;}
#related #ewindow ul{margin-left:15px;}
.categorylist ul{margin:0;list-style-type:none;list-style-image:none;line-height:18px;}
.categorylist ul ul{margin-left:20px;list-style-image: url(/images/eng/style/css_images/ul.gif);}
.categorylist ul ul ul{list-style-image: url(/images/eng/style/css_images/ulul_c.gif);}


form{padding:0;margin:0;}
input, select {font: 13px Arial;}
img.sampleborder {border:solid 1px #ccc;}

.hideinput{background-color:#fff; border:0;border-bottom:1px solid #ccc;}
.clearright{clear:right;}
.floatright{float: right;}
#paddedbox{padding:6px;}
.highlight{border-bottom:1px solid #FFE9A9!important;background-color:#FFFAE2!important;}
.pane{border:1px solid #ccc;}
.greybg{background-color:#f5f5f5;}